*{
  color:#c9c9c9;
}

body{

  background: #121212;
}
.nav{
  right: 0px;
  transition: all 0.5s ease;
}

.custom-scrollbar::-webkit-scrollbar{
    width: 8px;
    background-color: #1f1f1f;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.09); 
}


label{
  color: #868686;
}


.bouncer{
  animation: b 1s infinite;
}

@keyframes b {
  0%, 100% {
    transform: translateY(-10%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    width: 9.5rem;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}